<div class="navbar navbar-inverse bgcolor" role="navigation" style = "background-color: aqua; color:black">
  <ul class="nav navbar-nav navbar-right">
    {% if current_user.is_authenticated %}
      <li><a href="{{url_for('main.profile',uname=current_user.username)}}" style="color:black;"><b>Profile</b></a></li>
      <li><a href="{{url_for('auth.logout')}}"style="color:black;"><b>Sign out</b></a></li>
    {% else %}
      <li><a href="{{url_for('auth.login')}}" style="color:black;"><b>Sign in</b></a></li>
    {% endif %}
  </ul>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toogle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand" style="color:black; font-size: 30px"><b>Phoenix Pitches</b></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/" style="color:black; border-left: 1px solid black"><b>Home</b></a></li>
      </ul>
    </div>
  </div>
</div>